<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content" *ngIf="purchaseRequests">
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('Id')">Id</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('PurchaseRequest.User.UserName')">User</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('Description')">Description</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('Justification')">Justification</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('DateNeeded')">Date Needed</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('DeliveryMode')">Delivery Mode</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('Status')">Status</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold" (click)="setSortBy('Total')">Total</a></th>
          <th><a class="btn btn-link btn-sm font-weight-bold">Actions</a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let p of purchaseRequests | sort:sortBy'>
          <td>{{p.Id}}</td>
          <td>{{p.User.UserName}}</td>
          <td>{{p.Description}}</td>
          <td>{{p.Justification}}</td>
          <td>{{p.DateNeeded | date}}</td>
          <td>{{p.DeliveryMode}}</td>
          <td>{{p.Status}}</td>
          <td>{{p.Total | currency}}</td>
          <td>
            <a routerLink='/purchaserequests/reviewitem/{{p.Id}}'>Review</a>            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>