<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span>
  </div>
  <div id="content" *ngIf='prli'>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="Quantity">Quantity:</label>
      <input [(ngModel)]='prli.Quantity' name="Quantity" type="number" class="form-control col-sm-6" id="Quantity" aria-describedby="QuantityHelp"
        placeholder="Quantity">
      <small id="QuantityHelp" class="form-text text-muted col-sm-2">The Quantity</small>
    </div>
    <div class="form-group row">
      <label class="col-form-label col-sm-2" for="ProductId">Product:</label>
      <div class="col-sm-6 select-list" *ngIf='products'>
        <select [(ngModel)]='prli.ProductId' [compareWith]='compareFn' class="form-control" id="ProductId" name="ProductId">
          <option *ngFor='let p of products' [ngValue]='p.Id' [selected]='p.Id == prli.ProductId'>{{p.Name}}</option>
        </select>
      </div>
    </div>
    <div>
      <button (click)='change()' class="btn btn-warning">Change</button>
    </div>
  </div>
</div>