<div id="component">
  <div id="pagetitle">
    <span>{{ pagetitle }}</span> |
    <a routerLink='/users/create'>Create New</a>
  </div>
  <div id="content" *ngIf='users'>
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('UserName')">User Name</a></th>
          <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('LastName')">Name</a></th>
          <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('Phone')">Phone</a></th>
          <th><a class="btn btn-link font-weight-bold" (click)="setSortBy('Email')">Email</a></th>
          <th><a class="btn btn-link font-weight-bold">Privileges</a></th>
          <th><a class="btn btn-link font-weight-bold">Actions</a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let u of users | sort:sortBy'>
          <td>{{u.UserName}}</td><td>{{u.LastName}}, {{u.FirstName}}</td><td>{{u.Phone}}</td>
          <td>{{u.Email}}</td><td>{{u.IsAdmin ? 'Admin' : ''}} {{u.IsReviewer ? 'Reviewer' : ''}}</td>
          <td><a routerLink='/users/detail/{{u.Id}}'>detail</a> | <a routerLink='/users/edit/{{u.Id}}'>edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>